
* {
  padding: 0;
  margin: 0;
}

body {
  /*background: black;*/
}

.header {
  background: white;
  border-style: groove;
  border-color: rgb(253, 211, 95);
}

.header-container {
  display: flex;
  flex-direction: row;
  max-width: 90% !important;
  margin: auto;
  align-items: center;
  justify-content: space-between;
}

.header-left .petdop {
  height: 50px;
  width: 40px;
}

.header-left a{
  text-decoration: none;
}

.logo-cont {
  display: flex;
  align-content: center;
  align-items: center;
}

/*.name {
  position: absolute;
  margin: 0px 40px ;
}
.name a{
  text-decoration: none;
} */

.logoname {
  color: rgb(253, 211, 95);
  font-size: 25px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.header-right {
  display: flex;
}

.header-right a {
  text-decoration: none;
  color: black;
  font-weight: 300px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  padding: 3px;
  margin: 0px 40px 0px 0px;
  
}

.header-right a:hover {
  color: rgb(253, 211, 95);
}

.blog-content {
  font-family: "Roboto", sans-serif !important;
  max-width: 600px;
  margin: auto;
  margin-top: 2rem !important;
  margin-bottom: 2rem;
}

.blog-content h2 {
  padding-bottom: 0.5rem ;
  color: rgb(253, 211, 95);
}

.blog-content h3 {
  color: black;
  font-style: italic;
}

.blog-content img {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  max-width: 600px;
  display: block;
}

.blog-content p, .blog-content li  {
  font-size: 16px !important;
  font-family: "Roboto", sans-serif !important;
  color: black;
  list-style: none;
}

.FirstHead {
  padding-bottom: 0.5rem;
}

.SecondHead {
  margin-top: 20px;
}

.Allfooter {
  height: 70px;
  background-color: #1234;
  margin-top: 50px;
}

.footer {
  text-align: center;
  color:black;
  font-size: 16px;
}

.Privacy {
  text-decoration: none;
  color: rgb(253, 211, 95);
}

.Terms {
  text-decoration: none;
  color: rgb(253, 211, 95);
}

/*mobile screen */

@media (max-width: 420px) {
  .name {
    display: none;
  }
  

  .header-right a {
    font-size: 15px;
    margin: 0px 10px 0px 0px;
  }

  .blog-content h2 {
    margin-left: 15px;
  }

  .blog-content h3 {
    margin-left: 15px;
   
  }

  .blog-content img {
    margin-left: 15px;
    width: 325px;
  }

  .blog-content .img3 {
    height: 220px;
  }

  .blog-content p {
    font-size: 15px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .blog-content li {
    font-size: 15px;
    margin-left: 15px;
  }

  .footer {
    font-size: 12px;
  }
}

/*iphone screen */
@media (min-width: 420px) and (max-width: 600px) {
  .name {
    display: none;
  }

  .header-right a {
    margin:0px 20px 0px 0px;
  }

  .blog-content h2 {
    margin-left: 26px;
  }

  .blog-content h3 {
    margin-left: 26px;
  }

  .blog-content img {
    margin-left: 26px;
    width: 490px;
  }

  .blog-content .img3 {
    height: 320px;
  }

  .blog-content p {
    margin-left: 24px;
    margin-right: 15px;
  }

  .blog-content li {
    margin-left: 24px;
  }

  .footer {
    font-size: 12px;
  }
}

/* (ipad screen) */
/* @media (min-width: 600px) and (max-width: 1100px) {
 

 



