* {
  padding: 0;
  margin: 0;
}

body {
  /* background-color: black; */
}

.header {
  background: white;
  border-style: groove;
  border-color: rgb(253, 211, 95);
}

.header-container {
  display: flex;
  flex-direction: row;
  max-width: 90% !important;
  margin: auto;
  align-items: center;
  justify-content: space-between;
}

.header-left .petdop {
  height: 50px;
  width: 40px;
}

.header-left a{
  text-decoration: none;
}

.logo-cont {
  display: flex;
  align-content: center;
  align-items: center;
}

/*.name {
  position: absolute;
  margin: 0px 40px;
}

.name a {
  text-decoration: none;
}*/

.logoname {
  color: rgb(253, 211, 95);
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.header-right {
  display: flex;
}

.header-right a {
  text-decoration: none;
  color: black;
  font-weight: 300px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  padding: 3px;
  margin: 0px 40px 0px 0px;
}

.header-right a:hover {
  color: rgb(253, 211, 95);
}

.container {
  display: flex;
  background-color: transparent;
  /* width: 95%; */
  height: 680px;
  margin-left: 2.5%;
  /* justify-content: space-between;
  flex-wrap: wrap; */
  margin-top: 10px;
}

.pet-d-cont {
  max-width: 900px;
  margin: auto;
  margin-top: 40px;
  border-radius: 5px;
  height: 400px;
}

#Myimg {
  width: 69%;
  /* height: 600px;
  
  margin-left: 2.7%;
  margin-top: 40px;
  border-radius: 5px;
  background-color: transparent; */
}

.imgdog {
  width: 100%;
  height: 100%;
  /* height: 600px;
  border-radius: 5px; */
}

.mainCard {
  /* margin-top: 40px;
  margin-right: 2.3%;
  border-radius: 5px;
  height: 600px;*/
  width: 31%;
  background-color: whitesmoke;
}

.Card {
  /* width: 300px;
  height: 550px; */
  margin-left: 20px;
}

.Card li {
  list-style: none;
  line-height: 2;
  font-family: Arial, Helvetica, sans-serif;
  /* font-weight: bold; */
  font-size: 17px;
}

.Allfooter {
  height: 70px;
  background-color: #1234;
  margin-top: 50px;
}

.footer {
  text-align: center;
  color: white;
  font-size: 15px;
}

.foot {
  margin-top: 30px;
}

.Privacy {
  text-decoration: none;
  color: rgb(253, 211, 95);
}

.Terms {
  text-decoration: none;
  color: rgb(253, 211, 95);
}

/*mobile screen */
@media (max-width: 420px) {
  .name {
    display: none;
  }
  .header-right a {
    font-size: 15px;
    margin: 0px 10px 0px 0px;
  }

  .container {
    width: 95%;
    height: 780px;
  }

  #Myimg {
    height: 300px;
    width: 97%;
  }

  .imgdog {
    width: 97%;
    height: 300px;
  }

  .mainCard {
    margin-top: 5px;
    height: 390px;
    width: 100%;
    margin-left: 2.3%;
  }

  .Card {
    width: 70%;
    height: 390px;
  }

  .Card li {
    list-style: none;
    line-height: 2.9;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 14px;
  }
}

/*iphone screen */

@media (min-width: 420px) and (max-width: 600px) {
  .name {
    display: none;
  }

  .header-right a {
    margin: 0px 20px 0px 0px;
  }

  .container {
    width: 95%;
    height: 780px;
  }

  #Myimg {
    height: 300px;
    width: 97%;
  }

  .imgdog {
    width: 97%;
    height: 300px;
  }

  .mainCard {
    margin-top: 5px;
    height: 350px;
    width: 100%;
    margin-left: 2.3%;
  }

  .Card {
    width: 70%;
    height: 340px;
  }

  .Card li {
    list-style: none;
    line-height: 2.9;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 14px;
  }
}

/* (ipad screen)  */
@media (min-width: 600px) and (max-width: 1100px) {
  .container {
    width: 95%;
    height: 400px;
  }

  #Myimg {
    height: 375px;
    width: 50%;
    margin-top: 10px;
  }

  .imgdog {
    width: 100%;
    height: 375px;
  }

  .mainCard {
    margin-top: 9px;
    height: 375px;
    width: 40%;
    margin-left: 2.3%;
  }

  .Card {
    width: 70%;
    height: 375px;
  }

  .Card li {
    list-style: none;
    line-height: 2.9;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 14px;
  }
}
