@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

* {
  padding: 0;
  margin: 0;
}

body {
  background: black;
}

.header {
  background: white; 
  border-style: groove;
  border-color: rgb(253, 211, 95);
}

.header-container {
  display: flex;
  flex-direction: row;
  max-width: 90% !important;
  margin: auto;
  align-items: center;
  justify-content: space-between;
}

.header-left .petdop {
 height: 50px;
 width: 40px;
}

.name {
  position: absolute;
  margin: 0px 40px;
}

.name a{
  text-decoration: none;
}

.logoname {
  color: rgb(253, 211, 95);
  font-size: 25px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.header-right {
  display: flex;
}

.header-right a {
  text-decoration: none;
  color: black;
  font-weight: 300px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  padding: 3px;
  margin: 0px 40px 0px 0px;
}

.header-right a:hover {
  color: rgb(253, 211, 95);
}

#categories {
  width: 85%;
  min-height: 400px;
  background-color: transparent;
  margin-left: 7.5%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
  margin-top: 2rem !important
}

p {
  font-family: century gothic;
}

.dogname {
  position: absolute;
  top: 155px;
  font-size: 17px;
  left: 90px;
  color: #2c3e50;
}

.price {
  position: absolute;
  top: 177px;
  font-size: 17px;
  left: 90px;
  color: #2c3e50;
}

img {
  height: 150px;
  width: 240px;
  border-radius: 10px;
}

#mainCard {
  text-align: center;
  height: 200px;
  width: 240px;
  background-color: white;
  box-shadow: 10px 5px 15px 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin-top: 2%;
  position: relative;
}

#mainCard:hover {
  transform: scale(1.10);
  transition-timing-function: ease-in-out;
  transition: 2s;
}

.Allfooter {
  height: 70px;
  background-color: #1234;
  margin-top: 50px;
}

.footer {
  text-align: center;
  color: white;
  font-size: 16px;
}


.Privacy {
  text-decoration: none;
  color: rgb(253, 211, 95);
}

.Terms {
  text-decoration: none;
  color: rgb(253, 211, 95);
}

/*mobile phone*/
@media (max-width: 420px) {
  .name {
    display: none;
  }
  .header-right a {
    font-size: 15px;
    margin: 0px 10px 0px 0px;
  }

  .dogname {
    top: 100px;
    font-size: 13px;
    left: 57px;
  }

  .price {
    top: 114px;
    font-size: 13px;
    left: 57px;
  }

  img {
    height: 100px;
    width: 150px;
    border-radius: 10px;
  }

  #mainCard {
    text-align: center;
    height: 130px;
    width: 150px;
  }

  #mainCard:hover {
    transform: scale(1.02);
    transition-timing-function: ease-in-out;
    transition: 2s;
  }

  .footer {
    font-size: 12px;
  }
}

/*iphone screen */
@media (min-width: 420px) and (max-width: 600px) {
  .name {
    display: none;
  }

  .header-right a {
    margin: 0px 20px 0px 0px;
  }

  .dogname {
    top: 100px;
    font-size: 13px;
    left: 57px;
  }

  .price {
    top: 114px;
    font-size: 13px;
    left: 57px;
  }

  img {
    height: 100px;
    width: 150px;
    border-radius: 10px;
  }

  #mainCard {
    text-align: center;
    height: 130px;
    width: 150px;
  }

  #mainCard:hover {
    transform: scale(1.02);
    transition-timing-function: ease-in-out;
    transition: 2s;
  }

  .footer {
    font-size: 12px
  }
}

/* (ipad screen) */
@media (min-width: 600px) and (max-width: 1100px) {
  

  .dogname {
    top: 100px;
    font-size: 13px;
    left: 57px;
  }

  .price {
    top: 114px;
    font-size: 13px;
    left: 57px;
  }

  img {
    height: 100px;
    width: 150px;
    border-radius: 10px;
  }

  #mainCard {
    text-align: center;
    height: 130px;
    width: 150px;
   
  }
  .footer {
    font-size: 14px;
 }
  }
 /* (ipad screen) */
  /*@media (min-width: 600px) and (max-width: 1100px) {
