@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

*{
  padding: 0;
  margin: 0;
}

body{
  background: black
}

.header{
  display: flex;
  align-items: center;
  background: white;
  margin-top: 1%;
  width: 90%;
  margin-left: auto ;
  margin-right: auto;
  justify-content: space-between;
  border-bottom-style: groove;
  border-bottom-color: rgb(253, 211, 95);
  border-top-style: groove;
  border-top-color: rgb(253, 211, 95);
  border-left-style: groove;
  border-left-color: rgb(253, 211, 95);
  border-right-style: groove;
  border-right-color: rgb(253, 211, 95);
}

.header-right{
  margin-left: 3%;
  margin-top: 9px;
  display: flex;
}

.name{
  position: absolute;
  margin-left: 105px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;  
  font-size: 25px;
  margin-top: 9px;
  color: rgb(253, 211, 95); 
}

.header-left {
  display: flex;
}

.header-left a{
  text-decoration: none;
  color: black;
  font-weight: 300px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  padding: 3px; 
  margin-right: 40px;
  display: flex;
}

.header-left a:hover{
  font-size: 19px;
}

#categories{
  width: 85%;
  min-height: 400px;
  background-color: transparent;
  margin-left: 7.5%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
  margin-bottom:2%;
}


/*img{
  position:absolute;
  top:-50px;
  left:50px
}*/

h2, p{
  font-family: century gothic;
}

.dogname{
  position: absolute;
  top:155px;
  font-size: 17px;
  left:90px;
  color:#2c3e50;
}

.price{
  position: absolute;
  top:177px;
  font-size: 17px;
  left:90px;
  color: #2c3e50;
}

img{
  height: 150px;
  width: 240px; 
  border-radius: 10px;
}
#mainCard{
text-align: center;
height: 200px;
width: 240px;
background-color: white;                                            
box-shadow:10px 5px 15px 5px rgba(0, 0, 0, 0.2);
border-radius: 10px;
margin-top: 5%;
position: relative;
}

#mainCard:hover{
  transform: scale(1.15);
  transition-timing-function: ease-in-out;
  transition:2s;

}
.Allfooter{
  height: 70px;
  background-color: #1234;
  margin-top: 50px;
   }


.footer{
   text-align: center;
   color: white;
   font-size: 15px;
}

.foot{
  margin-top: 30px;
}

.Privacy {
   text-decoration: none;
   color: tomato;
}

.Terms{
   text-decoration: none;
   color: tomato;
}


/*#mainCard:hover{
  transform:scale;
  transition-timing-function: ease-in-out;
  transition:2s;
  z-index:2;
}

  button{
  position: absolute;
  border:none;
  outline: none;
  background:white;
  z-index:2;
  margin-left:15px;
  font-size: 18px;
  color:lightgray;
  display: none; 
} */


@media (max-width:370px) {
  .name{
      display: none;
  }
  .header-left a{
   font-size: 15px;
    padding: 1px; 
    margin-right: 10px;
 }

 /*#categories{
  margin-left: auto;
  margin-right: 10px;
}*/


.dogname{
  top:134px;
  font-size: 13px;
  left:73px;
}

.price{
  
  top: 120px;
  font-size: 13px;
  left:73px;
}

img{
  height: 120px;
  width: 210px; 
  border-radius: 10px;
}

#mainCard {
text-align: center;
height: 150px;
width: 210px; 
} 


.footer{
  font-size: 10px;
}
 }

 

@media (max-width:700px) {
  .name{
    display: none;
  }
   }

  
  @media (max-width:1100px) {
    #categories{
      margin-bottom: 1%;
    }

    .dogname{
      top:100px;
      font-size: 13px;
      left:57px;
    }
    
    .price{
      top: 114px;
      font-size: 13px;
      left:57px;
    }

    img{
      height: 100px;
      width: 150px; 
      border-radius: 10px;
    }
    
    #mainCard {
    text-align: center;
    height: 130px;
    width: 150px; 
    } 

    .Allfooter{
      height: 30px;
      background-color: #1234;
      margin-top: 10px;
       }
    
    
    .footer{
       text-align: center;
       color: white;
       font-size: 11px;
       margin-top: -15px;
    }
    
    .foot{
      margin-top: 10px;
    }
    
  }
